{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'polls/css/cadastro.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" type="imagex/png" href="{% static 'polls/images/logo.ico'%}">    
</head>
<body>
    
        <div class="home-icon">
            <i class="bi bi-house-heart-fill"></i>
            <a href="{% url 'polls:index' %}"></a>
        </div>
    </div>
    <div class="container">
        <div class="perfil-icon">
            <i class="bi bi-person-fill-add"></i>
    </div>
    <div class="title">
        <h2>Crie a sua conta</h2>
    </div>
    
    <form action="{% url 'usuarios:cadastro' %}" method="POST"> {% csrf_token %} {{ form.as_p  }}

        <div class="item">
        <!--a href="{% url 'polls:index' %}"-->
        <button type="submit" class="button">Criar</a>
    </form>
    </div>
    <div class="logar">
      <p>Ou cadastre com</p>
  </div>
                  <ul class="ul">
                      <li><img src="{% static 'polls/images/facebook.png'%}"></li>
                      <li><img src="{% static 'polls/images/google.png'%}"></li>
                  </ul>
    </div>
</body>
</html>