{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum de Comentários</title>
    <link rel="stylesheet" href="{% static 'polls/css/debate.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" type="imagex/png" href="{% static 'polls/images/logo.ico'%}">
</head>
<body>
  <div class="banner">
    <style>
    .banner {
        background-image: url("{% static 'polls/images/conversa.jpg'%}"); /* Substitua "sua-imagem.jpg" pelo caminho da sua imagem */
        background-size: cover;
        height: 50px; /* Ajuste a altura conforme necessário */
      }
    </style>
</div> 
    <header>
          <div class="home-icon">
            <i class="bi bi-house-heart-fill"></i>
            <a href="{% url 'polls:index' %}"></a>
        </div>
        <div class="top-bar">
            <p>Espaço para adicionar dúvidas, assuntos a ser debatidos, percepções a este site, sintam-se à vontade para comentar e ser acolhido pela comunidade</p>
        </div>
  
        <nav>
            <button>+ Novo comentário</button>
            <button>Meus comentários</button>
            <button><i class="bi bi-heart"></i> Favoritos</button>
        </nav>
    </header>
    <main>
        <div class="comentario">
            <div class="usuario">
                <span class="user-icon">&#9679;</span>
                <div>
                    <strong>Nome de usuário</strong>
                    <p class="data">data da publicação</p>
                </div>
            </div>
            <p class="texto-comentario">Quero agradecer a todos que estão participando deste site, a estimativa é de melhorar este site cada dia mais!</p>
            <div class="acoes">
                <button><i class="bi bi-heart"></i> Curtir</button>
                <button>+ Comentar</button>
                <button class="reportar">&#9888; Reportar</button>
            </div>
        </div>
    </main>
</body>
</html>