{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - Quilombo Madeira</title>
    <link rel="stylesheet" href="{% static 'polls/css/sobre.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="imagex/png" href="{% static 'polls/images/logo.ico'%}">
</head>
<body>
    <div class="banner">
        <style>
        .banner {
            background-image: url("{% static 'polls/images/quilombo2.jpg'%}"); /* Substitua "sua-imagem.jpg" pelo caminho da sua imagem */
            background-size: cover;
            height: 60px; /* Ajuste a altura conforme necessário */
          }
        </style>
    </div> 
    <div class="title">
    <h1>Sobre nós</h1>
</div>
<div class="img">
        <img src="{% static 'polls/images/capa.jpg'%}" alt="Foto do Quilombo Madeira">
    </div>
        <div class="description">
        <p>Somos um quilombo localizado no estado Rio Grande Do Sul, municipio de Jaguarão. É um quilombo pequeno mas que tem tanta importância quanto aos outros que tem mais integrantes. 
            Eu Ynaê Faria Caetano, autora deste site, sou integrante do Quilombo, minha tia avó foi presidente.
            A ideia de fazer este site partiu da vontade de ganhar visibilidade da população ao nosso quilombo e também para divulgar os produtos que o quilombo comercializa. </p>
        </div>
   
</body>
</html>