body {
    background-color: #7c5217;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.home-icon{
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 30px;
    color: black; 
}

.container {
    background-color: #fff;
    padding: 60px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    align-items: center;
}
.perfil-icon {
    align-items: center;
    font-size: 100px;
}
.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 4%;
    color: #333;
}
input { 
    background-color: #fad79a;
    color: #0a0a09;
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    border:none;
    border-radius: 20px;
    box-sizing: border-box;
}
.button {
    background-color: #d2df56;
    color: #000000;
    padding: 13px 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.2 linear;
    opacity: 1
}
.item{
    margin-top: 20px;
}
.button:hover {
    background-color: #ebf96a;
    opacity: 0.7;
    box-shadow: 0 0 4px rgb(234, 165, 165)
    
}