body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #905b2c;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    position: relative;
}

.icon {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
}

.home-icon {
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #000;
}

.info-icon {
    top: 20px;
    right: 20px;
    color: #000;
}

.profile {
    margin-top: 50px;
    margin-bottom: 40%;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000;
}

.profile h2 {
    margin: 10px 0;
}

.profile a {
    font-size: 16px;
    margin: 5px;
    color: #000;
    text-decoration: none;
}

.actions {
    display: flex;
    justify-content: space-around;
   margin-bottom: 20%;
}

.actions a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.actions a:hover {
    text-decoration: underline;
}

.actions .delete {
    color: rgb(0, 0, 0);
}

.actions .delete:hover {
    text-decoration: underline;
}
.header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 50px;
border-radius: 20px;

}
.perfil-icon {
align-items: center;
font-size: 150px;
margin-bottom: 5%;
}